header {
  margin-top: 20px;
  padding: 10px;
}
header h1{
  border-style: none solid;
  border-width: 2px;
  border-color: gray;
}
header p {
  display: inline;
  border: 0.5px gray solid;
  padding: 10px;
}
.jumbotron {
  background-image: url("https://backbone.digital/media/Home0-1.jpg");
  background-size: cover;
  margin-bottom: 5px;
  border-top: 5px gray solid;
}
.jumbotron h4 {
  color: red;
  border-style: solid none;
  border-width: 2px;
  border-color: red;
  padding: 10px;
}
.types-of-projects h2 {
  margin-bottom: 15px;
  border-style: solid none;
  border-width: 1px;
  padding: 5px;
}
figure img {
  display: inline;
  margin-top: 10px;
  height: 150px;
  width: auto;
}
figure p{
  border-style: solid none;
  border-width: 0.5px;
  border-color: gray;
  padding: 5px;
}
footer p{
  font-size: 15px;
  border: 0;
}
footer img{
  height: 25px;
  width: auto;
  margin-top: 10px;
}